# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.WhatCatAreYouToday.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ramil\source\repos\WhatCatAreYouToday\.idea\.idea.WhatCatAreYouToday\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
